{% extends 'base.html.twig' %}

{% block title %}Administration - Enregistrement Jeu vidéo{% endblock %}

{% block body %}
    <main class="container">
        <section class="col">
            <div class="col-12 h3">Ajouter un jeu vidéo ancien</div>
            <div class="mb-5">
                {{ form_start(formGame) }}
                    {{ form_row(formGame.title) }}
                    {{ form_row(formGame.subtitle) }}
                    {{ form_row(formGame.editor) }}
                    {{ form_row(formGame.covers) }}
                    {{ form_row(formGame.category) }}
                    {{ form_row(formGame.year) }}
                    {{ form_row(formGame.pegi) }}
                    {{ form_row(formGame.support) }}
                    {{ form_row(formGame.configuration) }}
                    {{ form_row(formGame.notes) }}
                    {{ form_row(formGame.digest) }}

                    <div class="text-center mt-3">
                        <button type="submit" class="btn btn-outline-dark">Enregistrer le jeu vidéo ancien</button>
                    </div>
                {{ form_end(formGame) }}
            </div>
            <div class="backTo">
                <a href="{{ path('app_admin_index') }}" class="btn btn-secondary">Retour à l'administration du site</a>
            </div>
        </section>
    </main>
{% endblock %}