{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

    <main class="container">
        <div class="row">   
            <section class="col-10 m-auto mt-3">
                <p class="mt-3 h2">Recueil de contes et divers textes</p>
                <p class="p-3">Ce site rassemble les divers petits textes que j'ai écrits il y a déjà quelques années, 
                qu'ils soient sous forme de conte ou qu'ils soient le résultat d'une animation sur un forum. <br>
                J'y ai mis aussi quelques images générées grâce à une IA (logo, icones, portraits), et une partie regroupant les jeux que j'ai, que j'ai faits et aimés.
                </p>
                <article class="col-12 row">
                    <span class="h4">Portrait rapide</span>
                    <div class="col-12 col-md-6 mt-3">
                        {% for resume in resumes %}
                            <div class="col-md-6 m-auto">
                                <div id="carouselPortrait" class="carousel slide carousel-dark carouselSize m-auto" data-bs-ride="carousel" data-bs-interval="false">
                                    <div class="carousel-indicators">
                                        {% for iteration in 1..resume.portraits|length %}
                                            <button type="button" data-bs-target="#carouselPortrait" data-bs-slide-to="{{ iteration - 1 }}" {{ (loop.first) ?'class="active" aria-current="true"' : '' }} aria-label="Slide {{ iteration }}"></button>
                                        {% endfor %}
                                    </div>
                                    <div class="carousel-inner">
                                        {% for portrait in resume.portraits %}
                                            <div class="carousel-item {{ (loop.first ? 'active' : '') }}">
                                                <img src="{{ asset('assets/uploads/portraitia/' ~ portrait.name) }}" class="portrait d-block m-auto rounded-3" alt="Portrait généré par l'IA">
                                            </div>
                                        {% endfor %}
                                    </div>
                                    <button class="carousel-control-prev chevron rounded-circle my-auto" type="button" data-bs-target="#carouselPortrait" data-bs-slide="prev">
                                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                        <span class="visually-hidden">Previous</span>
                                    </button>
                                    <button class="carousel-control-next chevron rounded-circle my-auto" type="button" data-bs-target="#carouselPortrait" data-bs-slide="next">
                                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                        <span class="visually-hidden">Next</span>
                                    </button>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="col-12 col-md-6 my-auto">
                        Explication portraits générés par une IA
                    </div>
                </article>
                <article class="col-12 p-3">
                    {% for resume in resumes %}
                        <div>{{ resume.hobbies|raw|nl2br}}</div>
                    {% endfor %}
                </article>
            </section>
            <div class="backTo col-12 mt-3 text-center">
                <a href="{{ path('app_tales_index') }}" class="btn btn-secondary me-2"><img src="{{ asset('assets/images/logo/logo2-400.png') }}" class="plume" alt="Plume"> Accès aux contes</a>
                <a href="{{ path('app_games_index') }}" class="btn btn-secondary ms-2"><img src="{{ asset('assets/images/logo/manette400.png') }}" class="plume" alt="Plume"> Accès aux jeux</a>
            </div>
        </div>
    </main>

{% endblock %}
