{% extends 'base.html.twig' %}

{% block title %}Administration - Enregistrement Jeu vidéo Récent{% endblock %}

{% block body %}
    <main class="container">
        <section class="row">
            <div class="col-12 h3">Ajouter un jeu vidéo récent</div>
            <div class="col-12 vh-100">
                {{ form_start(formRecent) }}
                    {{ form_row(formRecent.title) }}
                    {{ form_row(formRecent.subtitle) }}
                    {{ form_row(formRecent.editor) }}
                    {{ form_row(formRecent.illustrations) }}
                    {{ form_row(formRecent.category) }}
                    {{ form_row(formRecent.pegi) }}
                    {{ form_row(formRecent.digest) }}
                    <div class="text-center">
                        <button type="submit" class="btn btn-outline-dark">Enregistrer le jeu vidéo récent</button>
                    </div>
                {{ form_end(formRecent) }}
            </div>
        </section>
    </main>
{% endblock %}